
.nav{
    background-color: black;
    display: flex;
    /* justify-content: space-between */
}
.nav img{
    height: 90px;
    width: 100px;
}
.nav ul{
    list-style-type: none;
    display: flex;
}
.nav li {
    padding-left: 15px;
    padding-top: 15px;

}
.nav li a{
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    font-size: 20px;
}
.nav-search{
    padding-right: 20px;
    padding-left: 25px;
}
.nav .nav-search input{
    flex: 1;
    border: 1px solid blueviolet;
    margin-top: 30px;
    height: 35px;
    width: 334px;
    border-radius: 5px;
}
.nav .nav-search button{
    height: 38px; 
    width: 115px; 
    border-radius: 5px;  
}
dl, ol, ul {
    margin-top: 17px;
    margin-bottom: 1rem;
}

.suggested-search{
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 200px;
  }
  .suggested-search li {
    padding:5px;
    /* border: 1px solid #ddd; */
  }
  .suggested-search li a{
    cursor: pointer;
    color: blueviolet;
  }