<div class="user-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>User Signup</h1>
        <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
            <input type="text" class="form-input" name="name" placeholder="Enter User Name" ngModel />
            <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel />
            <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel />
            <button class="form-button">Sign Up</button>
            <a class="auth-toggle-link" (click)="openLogin()"> Already Have Account? Click Here</a>
            <div class="social-login">
                <button class="social-button google-button">
                    <img src="assets/google.png" alt="Google" /> Google
                </button>
                <button class="social-button facebook-button"   >
                    <img src="assets/facebook.png" alt="Facebook" /> Facebook
                </button>
                <button class="social-button linkedin-button">
                    <img src="assets/link.png" alt="LinkedIn" />LinkedIn
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="showLogin" class="login">
        <h1>User Login</h1>
        <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
            <p class="error-p">{{authError}}</p>
            <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel email
                #email="ngModel" required />
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please enter valid input</span></p>
            <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel
                minlength="2" maxlength="20" #password="ngModel" required />
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please enter valid input</span>
            </p>
            <button [disabled]="userLogin.invalid" class="form-button">Login</button>
            <a class="auth-toggle-link"  (click)="openSignUp()"> Want to Create Account? Click Here</a>
                <div class="social-login">
                    <button class="social-button google-button">
                        <img src="assets/google.png" alt="Google" /> Google
                    </button>
                    <button class="social-button facebook-button">
                        <img src="assets/facebook.png" alt="Facebook" /> Facebook
                    </button>
                    <button class="social-button linkedin-button">
                        <img src="assets/link.png" alt="LinkedIn" />LinkedIn
                    </button>
                </div>
        </form>
    </div>
</div>