body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    background-color: rgb(218, 211, 201);
    
}
.sign-up,.login{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    color: blueviolet; 
}
.form-input{
    height: 35px;
    margin-bottom: 19px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}
.form-button{
    height: 30px; 
    cursor: pointer;
    border: 1px solid blueviolet;
    border-radius: 10px;
    color: rgb(7, 75, 75);
}
.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-20px
  }
  button:disabled{
    cursor: not-allowed;
  }
  
.auth-toggle-link{
    margin: 10px;
    cursor: pointer;
   color: tomato;
}
.error-p{
    color: red;
}
.p_message{
    color: green;
}
.carousel-caption{
    
    color: rgb(225, 167, 31);
    
}
.max-width{
    width: 100%;
  }




